.hero-container{
  font-family: 'Monoton', cursive;
}
.hero h1 {
  font-size: 4.1em;
  text-transform: uppercase;
}
.hero p{
  font-size: 2em;
}
.form-container {
  font-size: 2em;
  font-family: 'Playfair Display', serif;
}
#show-album {
  font-size: 1em;
  font-family: 'Lobster', cursive;
}
